@model PokerRangers.Models.Range

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Descricao</h1>
    <p>Posição: @Model.Posicao.Descricao</p>
</div>
