@{
    ViewData["Title"] = "Home Page";
}

<form action="#">
    <div class="form-control">
        <span>Cartas:</span>
        <input id="idCartas" type="text" />
    </div>
    <div class="form-control">
        <span>Blinds:</span>
        <input id="idBlinds" type="text" />
    </div>
    <div class="form-control">
        <span>Posição:</span>

        @*<input id="idPosicao" type="text" />*@
        <select id="idPosicao">
            @foreach (var item in ViewBag.posicoes as List<PokerRangers.Models.Posicao>)
            {
                <option value="@item.PosicaoId">@item.Descricao</option>
            }
        </select>
    </div>
    <div class="form-control">
        <input id="idPosicao" type="button" alt="Submit" value="Submit" onclick="SubmitForm()"/>
    </div>
</form>